.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fffde6;

}

.container h2 {
  font-family: 'Lexend', sans-serif;
  padding: 10px 10px;
}

.container {
  width: 450px;
  background: white;
  border-radius: 10px;
}

.wrapper {
  margin: 10px 10px;
}

.wrapper .input-box{
  position: relative;
}

.input-box input{
  width: 100%;
  height: 50px;
  color: black;
  font-weight: 500;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0 2px 0 2px;

}

.input-box span{
  position: absolute;
  top: 17px;
  right: 13px;
  color: #707070;
}

.wrapper .password-indicator{
  width: 100%;
  height: 6px;
  position: relative;
  margin-top: 5px;
  border-radius: 25px;
}

.password-indicator::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  border-radius: inherit;
  transition: width 0.3s ease;
}

.password-indicator#weak::before{
  width: 20%;
  background: #cc5143;
}

.password-indicator#medium::before{
  width: 50%;
  background: #FFF582;
}

.password-indicator#strong::before{
  width: 100%;
  background: #97eb8f;
}

.wrapper .password-length{
  margin: 20px 0 15px;
}

.password-length .details{
  display: flex;
  justify-content: space-between;
}

.password-length input {
  width: 100%;
  height: 5px;
}

.password-settings .options{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 3px;
}

.password-settings .options .option{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: calc(100% / 2);
}

.options .option input{
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.options .option label{
  cursor: pointer;
  padding-left: 2px;
}

.wrapper .generate-button{
  width: 100%;
  font-size: 16px;
  padding: 3px;
  margin: 5px 0 10px;
}




